body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

* {
padding: 10px;
text-align: center;
}
header {
background-color: tomato;
}
.left-aside {
background-color: gold;
}
.right-aside {
background-color: hotpink;
}
main {
background-color: deepskyblue;
}
footer {
background-color: lightgreen;
}

.container {
    display : flex;
    flex-wrap: wrap;
}

/* pour écran > à 800px*/
@media screen and (min-width: 800px) {

    header {
        width: 100%;
        order: 1;
    }

    .left-aside {
        flex: 3;
        order: 2;
    }

    .right-aside {
        flex: 3;
        order: 4;
    }

    main {
        flex: 3;
        order: 3;
    }

    footer {
        order: 5;
        width: 100%;
    }
}

/* pour écran < à 600px*/
@media screen and (min-width: 600px) and (max-width: 800px) {

    header {
        width: 100%;
        order: 1;
    }

    .left-aside {
        flex: 2;
        order: 3;
    }

    .right-aside {
        flex: 2;
        order: 4;
    }

    main {
        width: 100%;
        order: 2;
    }

    footer {
        width: 100%;
        order: 5;
    }
    
}

